<header class="header">
    <h1 class="title"> PERDÓN QUE MI CÓCTEL TE SAL.PIQUE </h1>
    <form action="" class="form">
        <label class="input-search">
            <p class="input-search-text" for="input"> Buscador de cócteles:</p>
            <input type="search" id="input-search-content" class=" input js-inputSearch" />
        </label>
        <label class="button" for="search">
            <input type="button" value="Buscar" id="search" class="btnSearch js-btnSearch" />
            <input type="button" value="Reset" id="reset" class="btnReasert js-btnReset" />
        </label>
    </form>
</header>