<header class="header">
    <h1 class="title"> PERDÓN QUE MI CÓCTEL TE SAL.PIQUE </h1>
    <form action="" class="form">
        <label class="input-search" for="input"> Buscador de cócteles:
            <input type="text" id="input" class=" input js-inputSearch" />
        </label>
        <label for="search">
            <input type="button" value="Buscar" id="search" class="btnSearch js-btnSearch" />
        </label>
        <input type="button" value="Reset" id="reset" class="btnReasert js-btnReset" />
        </label>

    </form>
</header>