<main class="main">
  <section class="main-all-cocktails">
    <h2 class="title-all-cocktails">Resultado de búsqueda</h2>
    <ul class="list-all-cocktails js-cocktails">
    </ul>
  </section>
  <section class="main-favorites-cocktails">
    <div class="favourites-title-button">
      <h2 class="title-favourites"> Favoritos </h2>
      <label for="input">
        <input type="button" value="Reset" class="btn-delet-favorites js-btnDelet" />
      </label>
    </div>
    <ul class="list-favourites-coctails js-favourites">
    </ul>
  </section>
</main>