<main class="main">

  <section class="container-cocktails">
    <h2 class="title-cocktails">Resultado de búsqueda</h2>
    <ul class="list-cocktails js-cocktails">
    </ul>
  </section>
  <section class="container-cocktails">
    <!-- <div class="container-fav-reset"> -->
    <h2 class="title-favourites"> Favoritos </h2>


    <!-- </div> -->

    <ul class="list-favourites js-favourites">
    </ul>
  </section>
  <label for="input">
    <input type="button" value="Reset" class="btn-delet js-btnDelet" />
  </label>

</main>