<main class="main">
  <section lolclass="container-cocktails">
    <h2 class="title-cocktails">Resultado de búsqueda</h2>
    <ul class="list-cocktails js-cocktails">
    </ul>
  </section>
  <section class="container-cocktails">
    <div class="favourites-title-button">
      <h2 class="title-favourites"> Favoritos </h2>
      <label for="input">
        <input type="button" value="Reset" class="btn-delet js-btnDelet" />
      </label>
    </div>
    <ul class="list-favourites js-favourites">
    </ul>
  </section>
</main>