* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Caveat', cursive; }

.main {
  background-image: url(../images/fun-cocktail.jpeg);
  background-size: contain; }
  @media (min-width: 768px) {
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem; } }

.main-all-cocktails {
  text-align: center; }

.title-all-cocktails {
  font-size: 3rem;
  color: darkblue;
  margin: 1rem 0;
  padding: 1rem 0 0 0; }
  @media (min-width: 768px) {
    .title-all-cocktails {
      font-size: 4rem; } }
  @media (min-width: 1380px) {
    .title-all-cocktails {
      font-size: 5rem; } }

.list-all-cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: darkblue;
  padding: 1rem; }

.item-all {
  background-color: white; }

.select.item-all {
  color: white;
  background-color: darkblue; }

.name-cocktail {
  font-size: 2rem; }
  @media (min-width: 768px) {
    .name-cocktail {
      font-size: 3rem; } }
  @media (min-width: 1380px) {
    .name-cocktail {
      font-size: 4rem; } }

.image-cocktails {
  width: 8rem;
  height: 8rem;
  margin: .5rem 0; }
  @media (min-width: 768px) {
    .image-cocktails {
      width: 12rem;
      height: 12rem; } }
  @media (min-width: 1380px) {
    .image-cocktails {
      width: 15rem;
      height: 15rem; } }

.main-favorites-cocktails {
  text-align: center; }

.favourites-title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .favourites-title-button {
      margin: 0; } }

.title-favourites {
  font-size: 3rem;
  color: darkblue;
  margin: 1rem 0;
  padding: 1rem 0 0 0; }
  @media (min-width: 768px) {
    .title-favourites {
      font-size: 4rem; } }
  @media (min-width: 1380px) {
    .title-favourites {
      font-size: 5rem; } }

.btn-delet-favorites {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: .5rem 0 0 1rem;
  border-radius: 2rem;
  background-color: cornflowerblue;
  color: aliceblue; }
  @media (min-width: 768px) {
    .btn-delet-favorites {
      font-size: 1.5rem; } }

.list-favourites-coctails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: darkblue;
  padding: 1rem; }

.list-fav {
  background-color: rgba(230, 230, 126, 0.8); }

.x-delete {
  font-size: 2rem; }

.name-cocktail-fav {
  font-size: 2rem; }
  @media (min-width: 768px) {
    .name-cocktail-fav {
      font-size: 3rem; } }
  @media (min-width: 1380px) {
    .name-cocktail-fav {
      font-size: 4rem; } }

.image-cocktails_fav {
  width: 8rem;
  height: 8rem;
  margin: .5rem 0; }
  @media (min-width: 768px) {
    .image-cocktails_fav {
      width: 12rem;
      height: 12rem; } }
  @media (min-width: 1380px) {
    .image-cocktails_fav {
      width: 15rem;
      height: 15rem; } }

::marker {
  color: white; }

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem;
  font-weight: bold;
  color: darkblue;
  text-shadow: -1px 1px #030358; }
  @media (min-width: 768px) {
    .title {
      font-size: 5rem; } }
  @media (min-width: 1380px) {
    .title {
      font-size: 8rem; } }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: 400;
  color: darkblue; }
  @media (min-width: 768px) {
    .form {
      flex-direction: row;
      justify-content: end;
      margin: 2rem;
      font-size: 7rem;
      font-weight: 400;
      color: darkblue; } }
  @media (min-width: 1380px) {
    .form {
      display: flex;
      justify-content: end;
      margin: 5rem;
      font-size: 7rem;
      font-weight: 400;
      color: darkblue; } }

.input-search {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .input-search {
      flex-direction: row;
      align-items: center;
      margin: 0 0.5rem 0 0; } }
  @media (min-width: 1380px) {
    .input-search {
      font-size: 6rem; } }

.input-search-text {
  font-size: 2rem;
  text-align: center; }
  @media (min-width: 768px) {
    .input-search-text {
      font-size: 3rem;
      margin-right: 0.5rem; } }
  @media (min-width: 1380px) {
    .input-search-text {
      font-size: 3rem; } }

.input-search-content {
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    .input-search-content {
      margin: 0 0.5rem 0 0; } }
  @media (min-width: 1380px) {
    .input-search-content {
      margin-left: 1rem;
      font-size: 4rem; } }

.button {
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .button {
      margin-bottom: 2rem; } }
  @media (min-width: 1380px) {
    .button {
      margin-bottom: 0.5rem; } }

.btnSearch {
  background-color: cornflowerblue;
  color: aliceblue;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem; }
  @media (min-width: 768px) {
    .btnSearch {
      font-size: 2rem; } }
  @media (min-width: 1380px) {
    .btnSearch {
      font-size: 2rem;
      padding: 1rem 2rem;
      margin: 0 2rem;
      border-radius: 2rem; } }

.btnReasert {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: cornflowerblue;
  color: aliceblue; }
  @media (min-width: 768px) {
    .btnReasert {
      font-size: 2rem; } }
  @media (min-width: 1380px) {
    .btnReasert {
      padding: 1rem 2rem;
      font-size: 2rem;
      border-radius: 2rem; } }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center; }

.footer-copy {
  margin: 1rem;
  font-size: 1.5rem; }
  @media (min-width: 1380px) {
    .footer-copy {
      margin: 1rem;
      font-size: 2.5rem; } }

.img-cocktail {
  margin: 2rem 1rem 2rem 3rem;
  width: 4rem;
  height: 4rem; }
  @media (min-width: 1380px) {
    .img-cocktail {
      margin: 3rem 1rem 3rem 3rem;
      width: 8rem;
      height: 8rem; } }

.main__list {
  padding-left: 2rem;
  padding-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
