.main{
  background-image: url(../images/fun-cocktail.jpeg);
  background-size:contain ;
  @media (min-width: 768px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
} 

.main-all-cocktails{
  text-align: center;
}

.title-all-cocktails{
  font-size: 3rem;
  color: darkblue;
  margin: 1rem 0;
  padding: 1rem 0 0 0;

  @media (min-width: 768px){
    font-size: 4rem;
  }
  @media (min-width:1380px){
    font-size: 5rem;
  }
}

.list-all-cocktails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: darkblue;
  padding: 1rem;
}

.item-all{
  background-color: white;
}

.select.item-all {
  color: white;
  background-color: darkblue;
}
.name-cocktail {
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
  @media (min-width:1380px){
    font-size: 4rem;
  }
}

.image-cocktails {
  width: 8rem;  
  height: 8rem;
  margin: .5rem 0;
  @media (min-width: 768px) {
  width: 12rem;
  height: 12rem;  
  }
  @media (min-width:1380px) {
    width: 15rem;
    height: 15rem;  
  }
}

.main-favorites-cocktails{
  text-align: center;
}

.favourites-title-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  @media (min-width: 768px){
    margin: 0;  
  }
}

.title-favourites{
  font-size: 3rem;
  color: darkblue;
  margin: 1rem 0;
  padding: 1rem 0 0 0;
  @media (min-width: 768px) {
    font-size: 4rem;
  }
  @media (min-width:1380px) {
    font-size: 5rem;
  }
}

.btn-delet-favorites{
  font-size: 1rem;
  padding:0.5rem 1rem;
  margin: .5rem 0 0 1rem;
  border-radius: 2rem;
  background-color: cornflowerblue;
  color: aliceblue;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.list-favourites-coctails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: darkblue;
  padding: 1rem;
}

.list-fav{
  background-color: rgba(230, 230, 126, 0.8);
}

.x-delete{
  font-size: 2rem;
}

.name-cocktail-fav{
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
  @media (min-width:1380px) {
    font-size: 4rem;
  }
}

.image-cocktails_fav{
  width: 8rem;
  height: 8rem;
  margin: .5rem 0;
  @media (min-width: 768px) {
    width: 12rem;
    height: 12rem;
  }
  @media (min-width:1380px) {
    width: 15rem;
    height: 15rem;
  }
}

::marker{
  color: white;
}